@use './../styles/styles.scss' as *;

.container {
  min-height: 100vh;
  padding: 20px;
  background-color: #0079bf;
}

// Responsive design for tablet
@include tablet {
  .container {
    padding: 16px;
  }
}

// Responsive design for mobile
@include mobile {
  .container {
    padding: 12px;
  }
}
